body {
  display: grid;
  grid-template-rows: 70px auto 70px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
}
.logo {
  max-width: 100%;
  max-height: 100%;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 10px;
}
li {
  padding: 5px;
}
li:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
a:visited {
  color: #1e1e1e;
}
.account-button {
  width: 75px;
  height: 30px;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  border-radius: 5px;
}
.account-button:hover {
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  color: #f5f5f5;
  cursor: pointer;
}
main {
  border: 1px solid #d9d9d9;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body {
  background: #ececec;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}
h2 {
  color: gray;
  margin: 10px 0 0 0;
}

.blog-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-card {
  max-width: 300px;
  margin: 15px;
  background: #fff;
  border: 1px solid #2c2c2c;
  text-align: center;
  cursor:pointer;
}
.card-img {
  position: relative;
  text-align: center;
  background: #96a0aa;
}
figure {
  margin: 0px;
}
.card-img img {
  max-height: 180px;
  width: 100%;
  border-bottom: 1px solid black;
}

.card-details {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
}
.card-text {
  padding: 15px 15px 0 15px;
}
.read-more {
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #e3e3e3;
  border: 1px solid #767676;
  color: #2c2c2c;
  padding: 15px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  &:hover {
    background-color: #2c2c2c;
    color: #e3e3e3;
    cursor: pointer;
  }
}
h3 {
  margin: 0;
  padding-bottom: 5px;
}

footer {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}

.footer-logo {
  max-width: 100%;
  max-height: 100%;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  body {
    display: grid;
    grid-template-rows: 100px auto 50px;
  }
  header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    max-height: 100px;
  }
  .footer-logo {
    display: none;
  }
  .entering {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    display: grid;
    grid-template-rows: 100px auto 50px;
  }
  .footer-logo {
    display: none;
  }
}
